APPLE_ID=???
FASTLANE_PASSWORD=???
FL_JIRA_USERNAME=???@redmadrobot.com
FL_JIRA_PASSWORD=???
FL_GMAIL_USERNAME=???@redmadrobot.com
FL_GMAIL_PASSWORD=???
FL_GMAIL_DOMAIN=???

FL_CREATE_JIRA_VERSION_USERNAME=$FL_JIRA_USERNAME
FL_CREATE_JIRA_VERSION_PASSWORD=$FL_JIRA_PASSWORD
FL_RELEASE_JIRA_VERSION_USERNAME=$FL_JIRA_USERNAME
FL_RELEASE_JIRA_VERSION_PASSWORD=$FL_JIRA_PASSWORD